---
layout: default
---
<div class="offcanvas offcanvas-end" tabindex="-1" id="toolbar" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Table de Multiplication</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a class="link-secondary link-underline link-underline-opacity-0" data-bs-toggle="collapse" href="#log"
            role="button" aria-expanded="false" aria-controls="log">
            Historique des réponses
        </a>
        <div class="collapse pt-3" id="log">
            <div class="card card-body"></div>
        </div>
    </div>
</div>

<div class="container text-center py-5 my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form id="timestable">
                <div class="mb-3">
                    <div class="lead display-5 py-5 fw-bold" id="question"><span id="first"></span> X <span
                            id="second"></span></div>
                    <div class="py-3">
                        <input id="response" type="number" step="1" name="response" value="" autofocus
                            autocomplete="off" placeholder="Réponse" />
                    </div>
                    <small class="text-muted" id="elapsedTime">0</small>
                </div>
                <div>
                    <input class="btn btn-primary mx-auto d-none" type="submit" id="validate" value="Vérifier" />
                    <div id="resultSuccess" class="d-none">
                        <div id="success" class="text-success-emphasis mb-3">Bravo! ☺</div>
                        <input class="btn btn-secondary btn-sm" type="reset" id="reset"
                            value="Nouvelle Multiplication" />
                    </div>
                    <div id="resultMissed" class="d-none text-danger-emphasis">Non! ce n'est pas <span
                            id="wrongValue"></span> ☹
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-2">
            Score: <span class="fw-bold" id="score">0</span>

            <div id="answersLog" class="d-none">
                <div id="noErrors" class="d-block">Aucune erreur!</div>
                <div id="errorLog" class="text-danger-emphasis d-none"><span id="errorCount">0</span> erreurs</div>
            </div>
            <a class="d-block link-secondary link-underline link-underline-opacity-0" data-bs-toggle="offcanvas"
                href="#toolbar" role="button" aria-controls="offcanvasExample">
                options
            </a>

        </div>
    </div>
</div>

<script src="{{ "/assets/js/timestable.js" | relative_url }}"></script>